.button{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    border-radius: 60px;
    gap: 20px;
    background: #2C2C37;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 285.714% */
    text-transform: uppercase;
    width: 100%;
    cursor: pointer;

    .icon{
        border-radius: 100%;
        width: 49px;
    }
}